@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'DM Sans', sans-serif;
  }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px white inset; /* Change the color to your own background color */
    -webkit-text-fill-color: black;
  }
  input:-webkit-autofill:focus {
    -webkit-box-shadow: /*your box-shadow*/ 0 0 0 50px white inset;
    -webkit-text-fill-color: black;
  }
}
